* {
  margin: 0;
  box-sizing: border-box;
  font-family: inter;
}

a {
  text-decoration: none;
}

button {
  background-color: #2a3647;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 21px;
  border-radius: 10px;
  border: none;
  padding: 12px 16px;
}

button:hover {
  background-color: #29abe2;
  cursor: pointer;
}

button:active {
  background-color: #091931;
}
