@media (max-width: 1250px) {
  .summary-content {
    margin: 2% 0 2% 0;
  }

  .summary-headline {
    justify-content: center;
  }

  .summary-container {
    justify-content: center;
  }

  .summary-cards {
    margin-left: 0;
  }
}

@media (max-width: 1005px) {
  .span-headline {
    font-size: 3vw;
  }

  .summary-h1 {
    font-size: 4vw;
  }

  #right-sidebar {
    display: none;
  }
}

@media (max-width: 900px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .summary-container {
    gap: 0;
    width: 60%;
  }
  .summary-content {
    margin: 10px 0;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .summary-cards {
    margin: 10px;
    min-width: 100%;
  }

  .card-top-left,
  .card-top-right,
  .card-middle,
  .card-bottom {
    width: 100%;
    gap: 1vh;
  }

  .middle-stroked img {
    height: 50px;
  }

  .card-text-number {
    font-size: 53px;
  }

  .card-text {
    font-size: 13px;
  }

  .card-icon-wrapper img {
    width: 53px;
  }

  .prio-icon {
    width: 53px;
  }

  .card-middle-date {
    font-size: 16px;
  }

  .card-middle-date-text {
    font-size: 13px;
  }
}

@media (max-width: 550px) {
  .summary-content {
    min-width: 90vw;
  }

  .summary-container {
    width: 85%;
  }

  .middle-stroked img {
    height: 30px;
  }
}
