.summary-content {
  margin: 2% 0 3% 300px;
}

.summary-headline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.summary-h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 50px;
}

.summary-p {
  color: #29abe2;
  margin: 0 1vh 0 1vh;
  font-size: 4vw;
}

.span-headline {
  font-size: 35px;
  font-weight: 400;
}

.summary-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.summary-cards {
  min-width: 500px;
  margin-left: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 24px;
}

.cards-top,
.cards-bottom {
  display: flex;
  flex-direction: row;
  gap: 1vh;
}

.card-top-left,
.card-top-right {
  position: relative;
  gap: 1vh;
  background-color: white;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.card-top-left:hover,
.card-top-right:hover,
.card-middle:hover,
.card-bottom:hover {
  background-color: #2a3647;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
  cursor: pointer;
}

.card-icon-wrapper {
  position: relative;
}

.card-icon-wrapper img {
  width: 69px;
  transition: opacity 0.3s ease;
}

.card-icon-wrapper .pen-white-icon,
.card-icon-wrapper .done-white-icon {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-top-left:hover .card-icon-wrapper .pen-white-icon,
.card-top-right:hover .card-icon-wrapper .done-white-icon {
  opacity: 1;
}

.card-top-left:hover .card-icon-wrapper .pen-black-icon,
.card-top-right:hover .card-icon-wrapper .done-black-icon {
  opacity: 0;
}

.cards-text,
.middle-date-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: black;
  transition: color 0.3s ease;
}

.card-top-left:hover .cards-text,
.card-top-right:hover .cards-text,
.card-middle:hover .cards-text,
.card-middle:hover .middle-date-text,
.card-bottom:hover .cards-text {
  color: white;
}

.card-text-number {
  font-size: 64px;
  font-weight: 600;
}

.card-text {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.card-middle {
  background-color: white;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.middle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
}

.prio-icon {
  width: 69px;
}

.middle-stroked img {
  height: 90px;
}

.card-middle-stroked {
  margin: 0 3vh 0 3vh;
}

.card-middle-date {
  font-size: 21px;
  font-weight: 700;
}

.card-middle-date-text {
  font-size: 16px;
  font-weight: 400;
}

.card-bottom {
  background-color: white;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.dynamic-text {
  font-size: 2vw;
  font-weight: 500;
  white-space: nowrap;
}

.dynamic-name {
  font-size: 3vw;
  font-weight: 700;
  white-space: nowrap;
}
