@media (max-width: 900px) {
  .d-none {
    display: none;
  }

  #header {
    justify-content: start;
    width: 100%;
    margin-left: 0;
    padding: 10px;
    height: 80px;
  }

  .logo-responsive {
    display: flex;
    width: 50px;
    margin-right: 15vw;
  }

  .headline {
    margin-left: 0;
    text-align: center;
    font-size: 18px;
  }

  .header-right {
    position: absolute;
    right: 10px;
  }

  #sidbar {
    display: none;
  }

  .sidbar-logo {
    display: none;
  }

  #sidebar-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a3647;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
  }

  .menu-responsive {
    display: flex;
    align-items: center;
    gap: 15vw;
  }

  .menu-button-responsive {
    background-color: #2a3647;
    border: none;
    color: white;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-button-design-responsive {
    width: 12vw;
    gap: 8px;
    border-radius: 15px;
    padding: 10px 0;
  }

  .menu-button-design-responsive:hover {
    cursor: pointer;
    background-color: #091931;
  }

  .font-size-responsive {
    font-family: "Inter", sans-serif;
    font-size: 2vw;
    font-weight: 400;
  }
}

@media (max-width: 600px) {
  .logo-responsive {
    width: 40px;
  }

  .headline {
    display: none;
  }
}

@media (max-width: 400px) {
  #header {
    height: 60px;
    font-size: 14px;
  }

  .header-right {
    width: 80px;
    gap: 8px;
  }

  .help-button {
    width: 24px;
    height: 24px;
  }

  .user {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }
}

@media (max-width: 300px) {
  #header {
    height: 50px;
    font-size: 12px;
    padding: 5px;
  }

  .headline {
    font-size: 14px;
  }

  .header-right {
    width: 60px;
    gap: 5px;
  }

  .user {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
}
