

.contact-checkbox {
  margin-right: 9px !important;
  width: 18px !important;
}

.contact-name {
  flex-grow: 1;
}

.task:hover {
  background: #e0e0e0;
}

.task:hover ::marker {
  color: yellowgreen;
}

#subtaskInput {
  font-size: 18px;
}

.arrow-drop-down {
  width: 21px;
  height: 21px;
  cursor: pointer;
  padding: 9px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 9999 !important;
}

.arrow-drop-down:hover {
  background-color: #e0e0e0;
}

.arrow-up-img {
  width: 7px;
  height: 7px;
}

#dropdownInput {
  padding: 7px;
  display: flex;
  font-size: 18px;
}

#dropdownInput::placeholder {
  color: black;
  opacity: 1;
}

.task-icons {
  display: none;
  gap: 4px;
}

.task:hover .task-icons {
  display: flex;
}

.task-icons .icon {
  font-size: 14px;
  cursor: pointer;
}

.prio-urgent {
  color: white;
  background-color: #ff3d00;
}

#prio-urgent img {
  height: 12px !important;
}

.prio-medium {
  color: white;
  background-color: #ffa800;
}

.prio-low {
  color: white;
  background-color: #7ae229;
}

#prio-low img {
  height: 12px !important;
}

.prio-box {
  display: flex;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

.prio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  border-radius: 9px;
  cursor: pointer;
  border: solid #ddd 0px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  height: 50px;
}

.prio img {
  height: 9px;
  padding-left: 4px;
}

.dropdown-menu {
  max-height: 108px;
  overflow-y: auto;
  width: 396px;
  background-color: white;
  margin: 0;
  position: absolute;
}

ul {
  width: 396px;
  height: 45px;
}

.subtask-list {
  margin: 20px 0;
}

.create-clear-button {
  height: 50px;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  transition: background 0.3s, box-shadow 0.3s;
}

#clear-button {
  width: 99px;
  background: white;
  color: black;
  border: 1px solid #ccc;
}

#clear-button img {
  height: 10.44px;
}

#clear-button:hover {
  background: #e0f0ff;
  border-color: #007bff;
}

#createtask-button {
  width: 164px;
  background: #1e293b;
  color: white;
}

#createtask-button:hover {
  background: #3ea8ff;
}

#createtask-button img {
  width: 15.49;
  height: 11.19px;
  filter: brightness(0) saturate(100%) invert(1);
}

footer {
  padding-top: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-bottom-right {
  display: flex;
  width: 390px;
  gap: 18px;
}

.fiel-Is-Required-Div {
  width: 381px;
  padding-left: 108px;
}

.title-p {
  margin-top: 0;
  padding-top: 0;
}

.selectedInitials {
  display: flex;
  position: absolute;
  margin-top: 4px;
}

.selected-User-Initials {
  padding-bottom: 4px;
}

.input-error {
  border: 1px solid red !important;
}

.error-message {
  color: red;
  font-size: 10px;
  margin-top: 4px;
}

.overlay-background {
  background-color: rgba(0, 0, 0, 0.4);
  /* <- Statt filter */
  filter: brightness(0.6);
  transition: background-color 0.3s ease, filter 0.3s ease;
  width: 100vw;
  height: 100vh;
  z-index: 9;
}

/* Responsive */

@media (max-width: 1440px) {

  #add-task-overlay {
    overflow: scroll;
    overflow-x: hidden;
  }
  .subtasks {
    width: 90%;
  }

  #addtaskx {
    margin-right: 5%;
  }

  .add-task-h1 {
    margin-left: 5% !important;
  }

  .display-splitter {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .border {
    display: none;
  }

  .left-section {
    width: 90% !important;
  }

  #description-input {
    width: 100% !important;
    max-width: 100% !important;
  }

  .right-section {
    width: 90%;
  }

  #category {
    width: 100%;
  }

  .prio-box {
    flex-wrap: wrap;
  }

  .bottom-add-task-overlay-section {
    display: flex;
    padding-left: 128px;
    justify-content: center;
    background-color: white !important;
    padding-bottom: 100px;
  }

  .fiel-Is-Required-Div {
    width: 90%;
    padding-left: 0px;
  }

  .dropdown-menu {
    width: 90%;
  }
  .fiel-Is-Required-Div{
    display: none;
  }
}
@media (max-width:1000px) {
  #add-task-overlay {
  width: 90%;
  padding: 5%;
  }
}
@media (max-width:650px) {
  .add-task-h1 {
    font-size: 40px;
  }
  .bottom-add-task-overlay-section{
    padding: 0;
  }
  #description-input{
    max-width:100% !important;
    min-width:100% !important;
  }

  .bottom-add-task-overlay-section {
    padding-bottom: 75px !important;
    padding-top: 25px !important;
  }
}