a {
  cursor: pointer;
}

button {
  background-color: #2a3647;
  color: white;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 21px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  padding: 12px 16px;
  width: 100%;
  cursor: pointer;
}

button:hover {
  background-color: #29abe2;
}

button:active {
  background-color: #091931;
}

.button-icon {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
}

h1 {
  font-size: 61px;
  font-weight: 700px;
}

h2 {
  font-size: 27px;
  font-weight: 400;
}

.hide {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
}

/* Contacts */
.contacts-page-div {
  display: flex;
  flex-direction: row;
}
#contacts-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #f6f7f8;
  height: auto;
  width: auto;
  padding: 50px;
}

#left-contacts-page-column {
  margin: 50px;
  background-color: white;
}

.add-contact-btn{
  display: flex;
  justify-content: center;
}

seperator {
  width: 3px;
  height: 59px;
  background-color: #29abe2;
  border-radius: 5px;
}

#user {
  display: flex;
  justify-content: center;
  gap: 48px;
  width: 352px;
}

.user-area {
  display: flex;
  justify-content: start;
  padding-left: 24px;
  gap: 48px;
  width: 352px;
}

#user:hover {
  background-color: #cdcdcd;
  border-radius: 10px;
}

.user-picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-name {
  font-weight: 400;
  font-size: 20px;
}

.user-email {
  font-weight: 400;
  font-size: 16px;
  color: #007cee;
}

.user-info {
  padding: 15px 0;
}

#user:active {
  background-color: #2a3647;
  color: white;
}

.user-icon {
  width: 42px;
  height: 42px;
  border-radius: 21px;
  border: solid;
  border-width: 2px;
  border-color: white;
  background-color: #29abe2;
}

.user-initials {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-name-header {
  padding-left: 50px;
  display: flex;
  gap: 50px;
}

.user-name-options {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: start;
  margin-top: 16px;
}

.option-icon {
  width: 24px;
  height: 24px;
}

.user-picture-big {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: #29abe2;
  font-weight: 500;
  font-size: 47px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-width: 3px;
  border-color: white;
}

.big-user-name {
  font-size: 47px;
  font-weight: 500;
}

.user-name-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-options {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact-information {
  padding-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 400;
}

#right-contacts-page-column {
  background-color: #f6f7f8;
  height: 100vh;
}

.contact-details {
  margin: 50px;
}

.contact-list:hover {
  background-color: #2a3647;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#contact-page-area {
  margin-left: 232px;
}
