/* Responsive Styles */
@media (max-width: 1250px) {
  #right-contacts-page-column {
    display: none;
  }

  #left-contacts-page-column {
    width: 100vw;
    padding-bottom: 0;
  }

  #sidbar {
    display: none !important;
  }

  #contact-page-area {
    margin-left: 0;
  }

  .add-contact-btn {
    position: fixed;
    bottom: 100px;
    right: 30px;
    width: auto;
    height: 64px;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
    gap: 0;
    border-radius: 32px;
  }

  #header {
    width: 100vw;
  }

  .go-back-arrow {
    background-color: #f6f7f8;
  }
  .go-back-arrow:hover {
    background-color: #eeeeee;
    gap: 0 !important;
    padding: 16px;
  }

  #user-contact-header {
    display: flex;
    gap: 0 !important;
  }

  #left-edit-contact-column {
    display: flex;
    align-items: start;
    padding-top: 200px;
    padding-bottom: 150px;
  }
  #right-edit-contact-column {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    border-radius: 0 0 30px 30px !important;
    align-items: center;
    justify-content: center;
    padding-left: 0 !important;
  }

  .new-contact-icon {
    margin-top: -60px;
  }

  #edit-contact-options {
    margin-bottom: 50px;
    margin-top: 25px;
    padding-left: 0 !important;
  }

  #button-area {
    justify-content: center;
  }

  #overlay-join-logo {
    display: none;
  }

  #closeEditOverlay {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 30vh;
    border-radius: 30px !important;
    width: 100%;
    padding-left: 0 !important;
    border-radius: 30px 30px 0 0 !important;
  }

  #edit-contact-heading {
    margin-top: -150px;
    margin-bottom: 70px;
    color: white;
    display: flex;
    width: 90%;
    justify-content: start !important;
  }

  /* Add Contact overlay responsive */
  #add-contact-overlay {
    display: flex;
    flex-direction: column;
    height: 80vh !important;
    margin-left: 0 !important;
  }

  #right-add-contact-column {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 30px 30px !important;
    width: 100% !important;
    padding-bottom: 50px;
    padding-left: 0 !important;
  }

  #left-add-contact-column {
    height: 50vh;
    justify-content: center;
    align-items: start;
    width: 90% !important;
  }

  #add-contact-options {
    padding-left: 0 !important;
    margin-top: 50px;
    width: 80% !important;
  }

  #closeOverlayButton {
    margin-top: -50px;
    display: flex;
    justify-content: end;
  }

  #closeOverlayButton:hover {
    background-color: none;
  }

  #three-dots-options {
    background-color: #2a3647;
  }

  #overlayButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a3647;
    width: 56px;
    height: 56px;
    position: fixed;
    right: 30px;
    bottom: 100px;
    border-radius: 30px;
  }

  #overlayButton:hover {
    background-color: #007cee;
  }

  .responsiveButton {
    background-color: white;
    color: black;
    font-weight: 400;
  }

  .responsiveButton:hover {
    background-color: #eeeeee;
    color: #29abe2;
    font-weight: 800;
  }

  #edit-icon {
    color: #2a3647;
  }

  #edit-icon:hover {
    color: #29abe2;
  }

  #trash-icon {
    color: #2a3647;
  }

  #small-responsive-overlay-options {
    padding: 10px;
    background-color: white;
    position: fixed;
    right: 30px;
    bottom: 100px;
    border-radius: 20px 20px 0 20px;
    z-index: 9999;
  }

  .icon {
    margin-left: 93% !important;
  }

  #outer-overlay-responsiv {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
  }

  @keyframes slideIn {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  #edit-contact-overlay {
    position: fixed;
    transform: translateX(-50%);
    width: 90%;
    background: lightgray;
    animation: slideInFromLeft 1s ease-out forwards;
    justify-content: center;
    margin-left: 0 !important;
    display: flex;
    flex-direction: column;
    height: 80vh !important;
    align-items: center !important;
    justify-content: center;
  }

  .mobileOverlay {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    top: 0;
  }

  #contact-details-area {
    animation: slideInFromLeft 1s ease-out forwards;
  }

  @keyframes slideInFromLeft {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
}
@media (max-width: 600px) {
  #left-contacts-page-column {
    padding: 0;
  }
}
