@media (max-width: 1440px) {
  .register-container {
    right: 5%;
  }
}

@media (max-width: 600px) {
  .container-button {
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 15px;
  }

  .register-container {
    justify-content: center;
    top: 83%;
    right: 0;
    gap: 5px;
  }

  .no-user {
    font-size: 18px;
  }
}
