* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  overflow: auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#message-box {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  border-radius: 8px;
  background: #2a3647;
  color: white;
  font-size: clamp(13px, 2.5vw, 20px);
  font-weight: 700;
  line-height: 50px;
  padding: 0 15px 0 15px;
  text-align: center;
  cursor: default;
  border: none;
  display: none;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  display: inline-block;
  overflow: visible;
}

.d-none {
  display: none;
}

.logo {
  position: absolute;
  top: 5%;
  left: 5%;
}

.logo-black {
  width: 100px;
  height: 100px;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-in-container {
  display: flex;
  position: fixed;
  max-width: 500px;
  width: 90%;
  top: 20%;
  border-radius: 30px;
  gap: 32px;
  padding: 35px 30px 35px 30px;
  flex-direction: column;
  box-shadow: 0px 0px 14px 3px #0000000a;
  background-color: white;
}

.back-arrow {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.login-container-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.font-line {
  text-align: center;
}

.login-headline {
  font-weight: 700;
  font-size: clamp(40px, 4vw, 61px);
}

.blue-line {
  width: 140px;
}

.log-in-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 65px;
  gap: 35px;
}

#register-btn:disabled {
  background-color: #d1d1d1;
  color: #8a8a8a;
  cursor: not-allowed;
}

#register-btn:not(:disabled) {
  background-color: #2a3647;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.log-in-button {
  width: 125px;
  height: 80%;
  border-radius: 8px;
  background: #2a3647;
  color: white;
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  border: none;
}

.log-in-button:hover {
  background-color: #29abe2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

input {
  border: 1px solid #ccc;
  width: 100%;
  height: 45px;
  padding: 12px 38px 12px 21px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid;
  opacity: 0.5;
  box-sizing: border-box;
}

input:focus-visible {
  outline: none;
  border: 2px solid #29abe2;
  opacity: 1;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 16px;
  pointer-events: none;
}

.input-icon-lock {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.checkbox {
  height: 15px;
  width: 15px;
}

footer {
  justify-content: center;
  display: flex;
  position: absolute;
  bottom: 5px;
  width: 246px;
  height: 35px;
  gap: 16px;
  opacity: 0.5;
}

.footer-link {
  text-decoration: none;
  color: #a8a8a8;
}

.footer-link:hover {
  font-weight: 700;
  color: #29abe2;
}

@media (max-width: 600px) {
  .logo {
    top: 5%;
    left: 50%;
    transform: translate(-50%);
  }
}
